{% extends "base.html" %}
<!-- settings.py에 설정 필요 -->
{% load humanize %}
{% block contents %}

<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">상품가격</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for product in product_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                    <!-- 가격 세자릿수 마다 , 설정 -->
                    <td>{{ product.price|intcomma }} 원</td>
                    <!-- ref django templates builtins -->
                    <!-- date:'' 공백 없어야함 -->
                    <td>{{ product.register_date|date:'Y-m-d H:i' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}